<!DOCTYPE html>
<html lang="tr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Hata</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>
<h1>Bilgilerinizi kontrol edin! </h1>
			<form th:action="@{/screen3}" class="form-inline">
				<button class="btn btn-outline float-right mr-2 font-weight-bold mb-4 ml-4" type="submit" style="background-color:#FF6600;">Başvuru Ekranı</button>
			</form>
			<form th:action="@{/screen2}" class="form-inline">
				<button class="btn btn-outline float-right mr-2 font-weight-bold mt-4 mb-4 ml-4" type="submit" style="background-color:#FF6600;">Giriş- Kayıt Ekranı</button>
			</form>
</body>
</html>