<!DOCTYPE html>
<html lang="tr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>TEKLİF FİYAT</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
 <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-light bg-light align-center">
		<a class="navbar-brand"  th:href="@{/}">
		  <img src="logosigorta.png"  th:href="@{/}" th:src="@{/images/logosigorta.png}" width="125" height="75" class="d-inline-block align-top" alt="logosigorta">
		</a>
    <div class="align-right">
      <h4 class="border border-dark" style="background-color:#FF6600; text-align: center;"><b>**YÖNETİCİ**</b></h4>
    </div>
    
    	<a class="navbar-brand" th:href="@{/}">
		  <h4 class="border border-dark" style="background-color:#FF6600; text-align: center"><b>ÇIKIŞ</b></h4>
		</a>
	</nav>

    <div class="container">
    
      <div class="container">
          <h4 class="border border-dark" style="background-color:#FF6600; text-align: center;"><b>BAŞVURU EKRANI</b></h4>
      </div>
        
        <div class="container" id="table">
         <div th:each="applications: ${applications}">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <a class="border border-dark" style="background-color:#FF6600;" th:href="@{'/showApp/'+ ${applications.id}}" th:text="'Başvuru Id : ' + ${applications.id} + '-'+ ${applications.name}"><b></b></a>
                    </div>
                    <div class="col-md-8 input-group mb-3">
                      <input th:name ="offer" type="text" class="form-control border border-dark mr-1" placeholder="Fiyat Giriniz" aria-label="Fiyat Giriniz" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <a th:href="@{'/saveOffer/'+ ${applications.id} +'/'+ ${offer}}" class="btn btn-outline-secondary" type="submit" style="background-color:#FF6600;">Gönder</a>
                     </div>
                    </div>
                  </div>
                 </div>
           </div>
        </div>
        
      
    </div>
		

</body>
</html>