<!DOCTYPE html>
<html lang="tr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>TEKLİF FİYAT</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
 <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-light bg-light align-center">
		<a class="navbar-brand"  th:href="@{/}">
		  <img src="logosigorta.png"  th:href="@{/}" th:src="@{/images/logosigorta.png}" width="125" height="75" class="d-inline-block align-top" alt="logosigorta">
		</a>
    <div class="align-right">
      <h4 class="border border-dark" style="background-color:#FF6600; text-align: center;"><b>**YÖNETİCİ**</b></h4>
    </div>
    
    	<a class="navbar-brand" th:href="@{/}">
		  <h4 class="border border-dark" style="background-color:#FF6600; text-align: center"><b>ÇIKIŞ</b></h4>
		</a>
	</nav>

    <div class="container">
    
      <div class="container">
          <h4 class="border border-dark" style="background-color:#FF6600; text-align: center;"><b>BAŞVURU EKRANI</b></h4>
      </div>
       
    <div class="container">
	   <table class="table table-striped">
	    <thead>
	        <tr>
	        	<th scope="col"> ID </th>
	            <th scope="col"> İsim </th>
	            <th scope="col"> Soyisim </th>
	            <th scope="col"> Ülke </th>
	            <th scope="col"> Başlangıç Tarihi </th>
	            <th scope="col"> Bitiş Tarihi </th>
	            <th scope="col"> Kimlik No </th>
	            <th scope="col"> Mail </th>
	        </tr>
	    </thead>
	    <tbody>
		
	        <tr th:each="applications: ${applications}">
	        	<th scope="row" th:text="${applications.id}"></th>
	            <td><span th:text="${applications.name}"> Name </span></td>
	            <td><span th:text="${applications.surname}"> Surname </span></td>
	            <td><span th:text="${applications.place}"> Place </span></td>
	            <td><span th:text="${applications.start}"> Start </span></td>
	            <td><span th:text="${applications.end}"> End </span></td>
	            <td><span th:text="${applications.identity}"> Identity </span></td>
	            <td><span th:text="${applications.mail}"> Mail </span></td>
	        </tr>
	    </tbody>
	</table>
	</div>
</body>
</html>